
body {
    background: rgb(45, 68, 94);
}
.correccion {
    background: red;
}


.myswiper {

    width: 100vw;
    height: 450px;
    
}


.myswiper > .correccion {
    display: flex;
    align-items: center;
}

.myswiper > img {
    align-items: center;
}